In [ ]:
import pandas as pd
df=pd.read_csv("/content/registered_companies.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104856 entries, 0 to 104855
Data columns (total 17 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   CORPORATE_IDENTIFICATION_NUMBER         104856 non-null  object
 1   COMPANY_NAME                            104856 non-null  object
 2   COMPANY_STATUS                          104856 non-null  object
 3   COMPANY_CLASS                           104781 non-null  object
 4   COMPANY_CATEGORY                        104781 non-null  object
 5   COMPANY_SUB_CATEGORY                    104781 non-null  object
 6   DATE_OF_REGISTRATION                    104843 non-null  object
 7   REGISTERED_STATE                        104856 non-null  object
 8   AUTHORIZED_CAP                          104856 non-null  float64
 9   PAIDUP_CAPITAL                          104856 non-null  float64
 10  INDUSTRIAL_CLASS                        104786 non-null  float64
 11  PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN  104852 non-null  object
 12  REGISTERED_OFFICE_ADDRESS               104506 non-null  object
 13  REGISTRAR_OF_COMPANIES                  104230 non-null  object
 14  EMAIL_ADDR                              81385 non-null   object
 15  LATEST_YEAR_ANNUAL_RETURN               63591 non-null   object
 16  LATEST_YEAR_FINANCIAL_STATEMENT         63839 non-null   object
dtypes: float64(3), object(14)
memory usage: 13.6+ MB

In [1]:
import pandas as pd
df=pd.read_csv("/content/registered_companies.csv", engine='python')

print(f"Shape of DataFrame before dropping nulls: {df.shape}")
df.dropna(inplace=True)
print(f"Shape of DataFrame after dropping nulls: {df.shape}")

FileNotFoundError: [Errno 2] No such file or directory: '/content/registered_companies.csv'

In [ ]:
print("Descriptive statistics of the DataFrame:")
display(df.describe())

In [ ]:
print("Number of null values per column after cleaning:")
display(df.isnull().sum())

Number of null values per column after cleaning:

CORPORATE_IDENTIFICATION_NUMBER           0
COMPANY_NAME                              0
COMPANY_STATUS                            0
COMPANY_CLASS                             0
COMPANY_CATEGORY                          0
COMPANY_SUB_CATEGORY                      0
DATE_OF_REGISTRATION                      0
REGISTERED_STATE                          0
AUTHORIZED_CAP                            0
PAIDUP_CAPITAL                            0
INDUSTRIAL_CLASS                          0
PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN    0
REGISTERED_OFFICE_ADDRESS                 0
REGISTRAR_OF_COMPANIES                    0
EMAIL_ADDR                                0
LATEST_YEAR_ANNUAL_RETURN                 0
LATEST_YEAR_FINANCIAL_STATEMENT           0
dtype: int64

# Task
Analyze the provided company dataset `registered_companies.csv` by first clustering companies based on their 'AUTHORIZED_CAP' and 'PAIDUP_CAPITAL' to categorize their financial status (financially weak, moderately funded, financially strong), then classify companies into 'Compliant' or 'Non-Compliant' based on their latest annual return and financial statement filing status, and finally summarize the insights from both analyses.

## Prepare Data for Clustering

### Subtask:
Select the 'AUTHORIZED_CAP' and 'PAIDUP_CAPITAL' columns for clustering. Handle any potential outliers and scale these numerical features to ensure they contribute equally to the clustering process.

**Reasoning**:
The first instruction is to select the specified columns 'AUTHORIZED_CAP' and 'PAIDUP_CAPITAL' and store them in a new DataFrame for clustering.

In [ ]:
df_clustering = df[['AUTHORIZED_CAP', 'PAIDUP_CAPITAL']].copy()
print("Selected columns for clustering:")
display(df_clustering.head())

Selected columns for clustering:

    AUTHORIZED_CAP  PAIDUP_CAPITAL
70     130000000.0     120300000.0
71     220000000.0     211200000.0
72      55000000.0      27316200.0
73      60000000.0      49362800.0
74     320000000.0     300732620.0

**Reasoning**:
The next step is to identify and handle outliers in the 'AUTHORIZED_CAP' and 'PAIDUP_CAPITAL' columns using the Interquartile Range (IQR) method as instructed. This involves calculating Q1, Q3, IQR, and then capping the outliers for each column.

# Task
```python
for column in ['AUTHORIZED_CAP', 'PAIDUP_CAPITAL']:
    Q1 = df_clustering[column].quantile(0.25)
    Q3 = df_clustering[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Cap the outliers
    df_clustering[column] = df_clustering[column].clip(lower=lower_bound, upper=upper_bound)

print("Outliers handled for 'AUTHORIZED_CAP' and 'PAIDUP_CAPITAL' columns using IQR capping.")
print("DataFrame after outlier handling:")
display(df_clustering.describe())
```

## Prepare Data for Clustering

### Subtask:
Handle outliers in the 'AUTHORIZED_CAP' and 'PAIDUP_CAPITAL' columns of `df_clustering` using the IQR method.

**Reasoning**:
The next step is to handle outliers in the 'AUTHORIZED_CAP' and 'PAIDUP_CAPITAL' columns of the `df_clustering` DataFrame using the IQR method, as instructed. This involves calculating Q1, Q3, IQR, and then capping the outliers for each column, followed by displaying descriptive statistics to observe the effect.

In [ ]:
for column in ['AUTHORIZED_CAP', 'PAIDUP_CAPITAL']:
    Q1 = df_clustering[column].quantile(0.25)
    Q3 = df_clustering[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df_clustering[column] = df_clustering[column].clip(lower=lower_bound, upper=upper_bound)

print("Outliers in 'AUTHORIZED_CAP' and 'PAIDUP_CAPITAL' columns have been handled using the IQR method.")
print("Descriptive statistics of the DataFrame after outlier capping:")
display(df_clustering.describe())

Outliers in 'AUTHORIZED_CAP' and 'PAIDUP_CAPITAL' columns have been handled using the IQR method.
Descriptive statistics of the DataFrame after outlier capping:

       AUTHORIZED_CAP  PAIDUP_CAPITAL
count    5.291100e+04    5.291100e+04
mean     3.391761e+06    2.079944e+06
std      4.623545e+06    2.929230e+06
min      0.000000e+00    0.000000e+00
25%      1.000000e+05    1.000000e+05
50%      1.000000e+06    2.010000e+05
75%      5.000000e+06    3.144795e+06
max      1.235000e+07    7.711988e+06